@using Okta.Idx.Sdk
@using Newtonsoft.Json

@model SocialLoginResponse

@{
    ViewData["Title"] = "Sign-In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sign In</h1>

@await Html.PartialAsync("_Idps", Model.IdpOptions)

